
[Unit]
Description=raspberry pwm fan control
After=network-online.target
Wants=network.target

[Service]
Restart=on-failure
RestartSec=10s
ExecStartPre=-/usr/bin/podman rm raspberryfan
ExecStart=/usr/bin/podman run --name=raspberryfan \
                              --device=/dev/gpiochip0 \
                              --restart unless-stopped \
                              localhost/gpio \
                              /usr/bin/python3 /src/fan.py \
                              --min-temp=50 \
                              --max-temp=80 \
                              --fan-low=10 \
                              --fan-high=100 \
                              --wait-time=10 \
                              --pwm-gpio=18 \
                              --pwm-freq=10000 

ExecStop=-/usr/bin/podman stop -t 2 raspberryfan
ExecStopPost=/usr/bin/podman rm raspberryfan

[Install]
WantedBy=multi-user.target

